<mat-icon class="pointer" routerLink="/tag/create" >add_box</mat-icon>

<table>
    <thead>
      <tr>
        <th>Tags</th>
        <th>Editer</th>
        <th>supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tag of tags">
        <ng-container *ngIf="tag">
          <td>{{tag.label}}</td>
          <td><mat-icon class="pointer" routerLink="/tag/edit/{{tag.id}}">edit</mat-icon></td>
          <td><mat-icon class="pointer" (click)="delete(tag.id)">delete</mat-icon></td>
        </ng-container>
      </tr>
    </tbody>
  </table>